link-workspace-packages=true
shared-workspace-lockfile=true
save-workspace-protocol=true
node-linker=hoisted
prefer-workspace-packages=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
auto-install-peers=true
ignore-workspace-root-check=true
enable-pre-post-scripts=true
shamefully-hoist=false
strict-peer-dependencies=false
force=false
yes=true
# This setting bypasses the interactive prompt for pnpm install (ENG-601)
