link-workspace-packages=true
shared-workspace-lockfile=true
save-workspace-protocol=true
node-linker=hoisted
prefer-workspace-packages=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
auto-install-peers=true
ignore-workspace-root-check=true
enable-pre-post-scripts=true
use-node-version=20.9.0
shamefully-hoist=true
strict-peer-dependencies=false
force=true
